<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% include "./include/head.html" %}
</head>
<body>
<div id="value_container" v-cloak>
    <div id="wrapper">
        <view-header></view-header>
        <view-navigation current_page="page_manage"></view-navigation>
        <div id="page-wrapper">
            <div id="page-inner">
                <main class="" v-cloak>
                    <div class="row">
                        <div class="col-md-12">
                            <ol class="breadcrumb">
                                <li><a href="">页面管理</a></li>
                                <li class="active">目录管理</li>
                            </ol>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Advanced Tables -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    用户列表
                                    <button class="btn btn-success" @click="openCreateMenuView" style="float: right">
                                        添加用户
                                    </button>
                                </div>
                                <div class="panel-body">
                                    <div class="">
                                        <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline"
                                             role="grid">
                                            <div class="table_group">
                                                <table class="table table-striped table-bordered table-hover dataTable no-footer">
                                                    <thead>
                                                    <tr role="row">
                                                        <th>序号</th>
                                                        <th>目录名</th>
                                                        <th>目录URL字段</th>
                                                        <th>Keywords</th>
                                                        <th>目录说明</th>
                                                        <th>优先级</th>
                                                        <th>操作</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr class="gradeA odd" v-for="(item,index) in menu_list">
                                                        <td>[[item.No]]</td>
                                                        <td>[[item.menu]]</td>
                                                        <td>[[item.menu_url]]</td>
                                                        <td>[[item.menu_keywords]]</td>
                                                        <td>[[item.menu_comment]]</td>
                                                        <td>[[item.priority]]</td>
                                                        <td class="center ">

                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!--End Advanced Tables -->
                        </div>
                    </div>
                    <div class="modal fade" id="create_menu" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">新建目录</h4>
                                </div>
                                <div class="modal-body">
                                    <form role="form">
                                        <div class="form-group clearfix">
                                            <label style="display: block">目录名</label>
                                            <input class="form-control" v-model="menu.title">
                                        </div>
                                        <div class="form-group">
                                            <label>Keywords</label>
                                            <input class="form-control" v-model="menu.keywords">
                                        </div>
                                        <div class="form-group">
                                            <label>目录介绍</label>
                                            <input class="form-control" v-model="menu.common">
                                        </div>
                                        <div class="form-group">
                                            <label>优先级</label>
                                            <input class="form-control" v-model="menu.priority">
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                    <button type="button" class="btn btn-primary" @click="createMenu">确定
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% comment %}<div class="modal fade" id="modify_user" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                                    </button>
                                    <h4 class="modal-title" id="">修改用户</h4>
                                </div>
                                <div class="modal-body">
                                    <form role="form">
                                        <div class="form-group clearfix">
                                            <label style="display: block">姓名</label>
                                            <input disabled class="form-control" v-model.trim="modify_user.username"  placeholder="必填，姓名"/>
                                        </div>
                                        <div class="form-group">
                                            <label>密码</label>
                                            <input class="form-control" type="password" v-model.trim="modify_user.passwd" placeholder="注意,不修改密码不用填写">
                                        </div>
                                        <div class="form-group">
                                            <label>类型</label>
                                            <i-select v-model="modify_user.level">
                                                <i-option value="0">管理员</i-option>
                                                <i-option value="1">普通用户</i-option>
                                            </i-select>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                    <button type="button" class="btn btn-primary" @click="modifyUser">确定
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>{% endcomment %}
                    <footer><p>Copyright &copy; 2018 MagicHygeia All rights reserved.</p></footer>
                </main>
            </div>
        </div>
    </div>
</div>
</body>

{% include "./include/foot.html" %}
<script src="/static/manage/layer/laydate.js"></script>
<script src="/static/manage/js/common/menu_manage.js"></script>
</html>