<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% include "./include/head.html" %}
    <style>
        .demo-upload-list {
            display: inline-block;
            width: 60px;
            height: 60px;
            text-align: center;
            line-height: 60px;
            border: 1px solid transparent;
            border-radius: 4px;
            overflow: hidden;
            background: #fff;
            position: relative;
            box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
            margin-right: 4px;
        }

        .demo-upload-list img {
            width: 100%;
            height: 100%;
        }

        .demo-upload-list-cover {
            display: none;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, .6);
        }

        .demo-upload-list:hover .demo-upload-list-cover {
            display: block;
        }

        .demo-upload-list-cover i {
            color: #fff;
            font-size: 20px;
            cursor: pointer;
            margin: 0 2px;
        }

        .ivu-select-multiple .ivu-select-selection{
            max-height: 100px;
            overflow: auto;
        }

        .ivu-poptip-popper{
            min-width: auto;
        }

        .success{
            background: #0f74a8;
            color: #ffffff;
        }

        .gradeA .content{
            max-width: 300px;
            max-height: 100px;
            overflow-y: auto;
            white-space: pre-wrap;
        }
    </style>
</head>
<body>
<div id="value_container" v-cloak>
    <div id="wrapper">
        <view-header></view-header>
        <view-navigation current_page="page_manage"></view-navigation>
        <div id="page-wrapper">
            <div id="page-inner">
                <main class="">
                    <div class="row">
                        <div class="col-md-12">
                            <ol class="breadcrumb">
                                <li><a href="">页面管理</a></li>
                                <li class="active">页面上新</li>
                            </ol>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Advanced Tables -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    页面列表
                                    <a class="btn btn-success" @click="openBlogOnlineView(false)"
                                       style="float: right">页面上新</a>
                                </div>
                                <div class="panel-heading">
                                    <form style="border-radius:5px;border:1px dashed rgb(194, 194, 194);padding: 10px;" class="form-inline">
                                        <div class="form-group">
                                            <label>博客目录</label>
                                            <select class="form-control" v-model="menu_id">
                                                <option :value="-1">全部</option>
                                                <option v-for="val in menu_list" :value="val.id">[[val.menu]]</option>
                                            </select>
                                        </div>
                                        <button class="btn btn-info" type="button" @click="SearchByMenu(true,0)">搜索</button>
                                    </form>
                                </div>
                                <div class="panel-body">
                                    <div class="">
                                        <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline"
                                             role="grid">
                                            <div class="table_group">
                                                <table class="table table-striped table-bordered table-hover dataTable no-footer"
                                                        aria-describedby="dataTables-example_info">
                                                    <thead>
                                                    <tr role="row">
                                                        <th class="sorting_asc">序号</th>
                                                        <th class="sorting">主图</th>
                                                        <th class="sorting">标题</th>
                                                        <th class="sorting">预览</th>
                                                        <th class="sorting">目录</th>
                                                        <th class="sorting">发布状态</th>
                                                        <th class="sorting">操作</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr class="gradeA odd" v-for="(item,index) in article_list">
                                                        <td class="sorting_1">
                                                            <div class="content">[[item.No]]</div>
                                                        </td>
                                                        <td class="">
                                                            <div><img width="100" :src="item.img_url" alt=""></div>
                                                        </td>
                                                        <td class=" ">
                                                            <div class="content">[[item.title]]</div>
                                                        </td>
                                                        <td class=" ">
                                                            <div class="content">[[item.introduction]]</div>
                                                        </td>
                                                        <td class=" ">
                                                            <div class="content">[[item.categories.menu]]</div>
                                                        </td>
                                                        <td class="">
                                                            <span class="label label-danger" v-if="item.status == 0"> 未发布 </span>
                                                            <span class="label label-success" v-if="item.status == 1"> 已发布 </span>
                                                            <span class="label label-default" v-if="item.status == 2"> 已下架 </span>
                                                        </td>
                                                       {% comment %} <td class="">
                                                            <Poptip  placement="right">
                                                                <i-button size="small">[[item.title]]</i-button>
                                                                <div slot="content">
                                                                    <a :href="'/'+item.link_url+'-preview?cf='" target="_blank">页面预览</a>
                                                                    <a style="margin-left: 15px" v-show="item.status == 1" :href="'/'+item.link_url+'?cf='" target="_blank">页面查看</a>
                                                                </div>
                                                            </Poptip >
                                                        </td>{% endcomment %}

                                                        <td class="center ">
                                                            <a @click="openBlogOnlineView(true,item)" style="cursor: pointer;">页面修改</a>
                                                            {% comment %}<a @click="pagePublishOrStop(item,1,index)" style="cursor: pointer;">[[item.status == 1 ? "重新发布" : "发布"]]</a>
                                                            <a v-if="item.status == 1" @click="pagePublishOrStop(item,0,index)" style="cursor: pointer;">取消发布</a>
                                                            <a v-if="item.status != 2" @click="pagePublishOrStop(item,2,index)" style="cursor: pointer;">下架</a>{% endcomment %}
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12" style="position: relative;z-index: 10;">
                                                    <div class="dataTables_length" id="dataTables-example_length">
                                                        <label style="float: right;">
                                                            <select name="dataTables-example_length"
                                                                    aria-controls="dataTables-example"
                                                                    class="form-control input-sm" v-model="count">
                                                                <option value="10">10</option>
                                                                <option value="25">25</option>
                                                                <option value="50">50</option>
                                                                <option value="100">100</option>
                                                            </select> 行/每页
                                                        </label>
                                                        <div class="dataTables_info" id="dataTables-example_info"
                                                             role="alert"
                                                             aria-live="polite" aria-relevant="all">共[[total]]条
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% comment %}<div class="row">
                                                <div class="col-sm-12">
                                                    <div class="dataTables_paginate paging_simple_numbers"
                                                         id="dataTables-example_paginate" style="text-align: center;">
                                                        <ul class="pagination">
                                                            <li class="paginate_button previous"
                                                                :class="{disabled:(start/count)==0}"><a
                                                                    @click="goToPage(start/count)">上一页</a></li>
                                                        </ul>
                                                        <ul id="pagination" class="pagination">
                                                            <li class="paginate_button active"><a>1</a></li>
                                                        </ul>
                                                        <ul class="pagination">
                                                            <li class="paginate_button previous"
                                                                :class="{disabled:((start/count)+1)==Math.ceil(total / count) || total==0}">
                                                                <a @click="goToPage((start/count)+2)">下一页</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>{% endcomment %}
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!--End Advanced Tables -->
                        </div>
                    </div>
                    <div class="modal fade" id="blog_view" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog  modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">博客上新</h4>
                                </div>
                                <div class="modal-body">
                                    <form role="form">
                                        <div class="form-group" v-if="!blog_view.isModify">
                                            <label>请选择类型</label>
                                            <div>
                                                <label @click="changeBlogType(0)"><input v-model="blog_view.type" value="0" type="radio"> 博客页面</label>
                                                <label @click="changeBlogType(1)"><input v-model="blog_view.type" value="1" type="radio"> 产品页面</label>
                                            </div>
                                        </div>

                                        <div class="form-group" :key="blog_view.type">
                                            <label>请选择目录</label>
                                            <i-select v-model="blog_view.menu_id" @on-change="getMenuProduct(blog_view.menu_id,true)">
                                                <i-option v-for="val in blog_menu_list" :value="val.id">[[val.menu]]</i-option>
                                            </i-select>
                                        </div>

                                        <Row v-if="blog_view.type == 0" type="flex" justify="space-between">
                                            <i-col span="7">
                                                <div class="form-group">
                                                    <label>请输入名称</label>
                                                    <i-input class="" v-model.trim="blog_view.blog_title"></i-input>
                                                </div>
                                            </i-col>
                                            <i-col span="7">
                                                <div class="form-group">
                                                    <label>页面关键词</label>
                                                    <i-input class="" v-model.trim="blog_view.keywords"></i-input>
                                                </div>
                                            </i-col>
                                            <i-col span="7">
                                                <div class="form-group">
                                                    <label>对应产品</label>
                                                    <i-select v-model="blog_view.product_id">
                                                        <i-option v-for="val in menu_products" :value="val.id">[[val.title]]</i-option>
                                                    </i-select>
                                                </div>
                                            </i-col>
                                        </Row>

                                        <Row v-else type="flex" justify="space-between">
                                            <i-col span="11">
                                                <div class="form-group">
                                                    <label>请输入博客名称</label>
                                                    <i-input class="" v-model.trim="blog_view.blog_title"></i-input>
                                                </div>
                                            </i-col>
                                            <i-col span="11">
                                                <div class="form-group">
                                                    <label>页面关键词</label>
                                                    <i-input class="" v-model.trim="blog_view.keywords"></i-input>
                                                </div>
                                            </i-col>
                                        </Row>

                                        <div class="form-group">
                                            <label>请输入文章预览</label>
                                            <i-input class="" v-model.trim="blog_view.introduction"></i-input>
                                        </div>

                                        <!--页面主图-->
                                        <div class="form-group">
                                            <label>页面主图</label>
                                            <Row  type="flex" justify="space-between">
                                                <i-col span="18">
                                                    <div class="demo-upload-list">
                                                    <template v-if="blog_view.img_info.status == true">
                                                        <img :src="blog_view.img_info.url">
                                                        {% comment %}<div class="demo-upload-list-cover">
                                                            <Icon v-show="index != 0" type="android-arrow-up"
                                                                  @click.native="prevImgPos(true,'banner_info',index)"></Icon>
                                                            <Icon type="ios-trash-outline"
                                                                  @click.native="handleRemoveBanner(index)"></Icon>
                                                            <Icon v-show="index != (page_online.banner_info.imgList.length - 1)" type="android-arrow-down"
                                                                  @click.native="nextImgPos(true,'banner_info',index)"></Icon>
                                                        </div>{% endcomment %}
                                                    </template>
                                                </div>
                                                </i-col>
                                                <i-col span="3">
                                                    <div>
                                                    <Row>
                                                        <i-col :sm="4">
                                                            <Upload
                                                                    :show-upload-list="false"
                                                                    :on-success="handleSuccessBlogImg"
                                                                    :format="['jpg','jpeg','png','gif']"
                                                                    :max-size="2048"
                                                                    multiple
                                                                    action="/upload_img">
                                                                <i-button>本地上传</i-button>
                                                            </Upload>
                                                        </i-col>
                                                        {% comment %}<i-col :sm="12">
                                                            <div class="input-group">
                                                                <input type="text" class="form-control">
                                                                <span class="input-group-addon" @click="handleGetUrlImage($event,'banner')">外链图片</span>
                                                            </div>
                                                        </i-col>{% endcomment %}
                                                    </Row>

                                                </div>
                                                </i-col>
                                            </Row>
                                        </div>

                                        <div class="form-group" v-show="blog_view.type == 0">
                                            <textarea id="rich_text"></textarea>
                                        </div>

                                        <div class="form-group">
                                            <label>页面Tag词</label>
                                            <Row  type="flex" justify="space-between">
                                                <i-col span="18">
                                                    <i-input class="" v-model="tag_search"></i-input>
                                                </i-col>
                                                <i-col span="3">
                                                    <i-button @click="addNewTags">添加Tag</i-button>
                                                </i-col>
                                            </Row>
                                            <Row style="margin-top: 10px" type="flex" justify="space-between">
                                                <i-col span="11">
                                                    <ul style="height: 200px;overflow-y: auto;padding: 10px;border: 1px solid #ccc;">
                                                        <li style="cursor: pointer;padding-left: 5px;margin: 5px 0;" :class="{success:val.select}" v-for="(val,index) in search_tags" @click="addSelectTag(val,index)">[[val.tag_name]]</li>
                                                    </ul>
                                                </i-col>
                                                <i-col span="11">
                                                    <ul style="height: 200px;overflow-y: auto;padding: 10px;border: 1px solid #ccc;">
                                                        <li style="cursor: pointer;padding-left: 5px;margin: 5px 0;" v-for="(val,index) in blog_view.tag_list" @click="removeSelectTag(val,index)">[[val.tag_name]]</li>
                                                    </ul>
                                                </i-col>
                                            </Row>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                    <button type="button" class="btn btn-primary" @click="modifyBlogManage" v-if="blog_view.isModify">确定</button>
                                    <button type="button" class="btn btn-primary" @click="addBlogManage" v-else>确定</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <footer><p>Copyright &copy; 2018 MagicHygeia All rights reserved.</p></footer>
                </main>
            </div>
        </div>
    </div>
</div>
</body>
{% include "./include/foot.html" %}
<script src="/static/manage/layer/laydate.js"></script>
<script src="/static/manage/js/Sortable.min.js"></script>
<script src="/static/manage/js/vuedraggable.min.js"></script>
<script src="/static/manage/js/ckeditor/ckeditor.js"></script>
<script src="/static/manage/js/common/page_manage.js"></script>
</html>

