@import 'reset.styl'
.error{
  margin getRem(10)
  padding getRem(10)
  background url("../../img/PC/404_bg.jpg") no-repeat
  background-size cover
  
  p{
    color #c60
  }
    
  header{
    padding-bottom getRem(20)
    div{
      padding getRem(10)
    }
    img{
      width 100%
    }

    h1{
      font-size getRem(48)
      color #f33
      font-weight bold
      padding-bottom getRem(30)

    }
  }


  .link-for{
    padding-top getRem(20)
    color #960

    a{
      color #960
    }

    dl{
      width 50%
      line-height 1.5
    }
    dt{
      font-weight bolder
    }

  }
}