@import 'reset.styl'
body{
  background-color: #fff
}
.site_menu{
  padding-left 54px
}
#mainbody>article{
  border-bottom 1px solid $bg-color
  padding getRem(35) getRem(10) getRem(35)

  h3{
    font-size $font-normal
    font-weight bold
    padding getRem(20) 0
  }
  p{
    font-size $font-normal
    line-height 1.5
    margin-bottom getRem(10)
  }
  .us_info:nth-child(2) h3{
    padding-top 0
  }

  .main_logo{
    h3{
      padding 0
    }
    p{
      text-align center
      padding getRem(24) 0
    }
  }
}
 