@import "base.styl"

#page{
  background #ffffff
}

.error{
  width 1200px
  margin 50px auto
  padding 80px 0 80px 70px
  background url("../../img/PC/404_bg.jpg") no-repeat center;
  background-size cover
  color

  font-family "Microsoft YaHei UI"

  header{
    width 420px
    padding-bottom 105px
    h1{
      font-size 48px
      color #ff3333
    }
    p{
      font-size 18px
      color #cc6600
      font-weight bold
      line-height 25px
      padding-top 10px
    }
  }

  p{
    font-size 18px
    color #cc6600
    font-weight bold
  }

  .link-for{
    color #996600
    font-size 22px
    padding-top 25px

    a{
      color #996600
    }

    dl{
      padding-right 75px
    }

    dt{
      padding-bottom 10px
    }

    dd{
      font-size 20px
      line-height 30px
    }
  }
}