@import 'base.styl'

body {
  background-color: #fff
}

.site_menu {
  padding-left 54px
}

#mainbody > article {
  border-bottom 1px solid $bg-color
  padding 20px 60px 35px

  h3 {
    font-size $font-bigs
    padding 50px 0 36px
    font-weight bold
  }
  p {
    font-size $font-normal
    line-height 1.5
  }
  .us_info:nth-child(2) h3 {
    padding-top 0
  }
  .us_info {
    p {
      margin-bottom 15px
    }
  }

  .main_logo {
    h3 {
      padding 0
    }
    p {
      text-align center
      padding 48px 0
    }
  }
}