audio:not([controls]),
[hidden] {
  display: none;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a {
  text-decoration: inherit;
}
a:hover {
  text-decoration: underline;
}
a img {
  border: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
[v-cloak] {
  display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
  display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
  display: none;
}
@font-face {
  font-family: CenturyGothic;
  src: url("../font/CenturyGothic.ttf");
}
strong {
  font-weight: bolder;
}
.text_blank {
  color: #000 !important;
}
.bolder {
  font-weight: bolder;
}
.italic {
  font-style: italic;
}
a {
  color: #000;
  text-decoration: none !important;
}
a.btn_a {
  display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
  display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
  display: block;
  width: 290px;
  height: 65px;
  text-align: center;
  line-height: 65px;
  background-color: #000;
  margin: 30px auto 0;
  color: #fff;
  position: relative;
  z-index: 10;
}
a.btn_a::before {
  content: "";
  width: 90%;
  position: absolute;
  bottom: 0;
  height: 80%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0 0 20px 6px #000;
  box-shadow: 0 0 20px 6px #000;
  z-index: -10;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -khtml-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
body {
  font-family: "Roboto", Arial, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
  display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after {
  clear: both;
}
.pull-left {
  float: left;
}
.pull-rigth {
  float: right;
}
.text_success {
  color: #6cc;
}
.text_info {
  color: #f69;
}
.fixed_top {
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 1000;
}
#go_top {
  width: 70px;
  height: 70px;
  background: #000 url("../../img/go_top.png") no-repeat center;
  -webkit-background-size: 70%;
  -moz-background-size: 70%;
  background-size: 70%;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  position: fixed;
  right: 100px;
  bottom: 100px;
  z-index: 1000;
  -webkit-transition: all 0.5s;
  -khtml-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
#go_top.show {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
#header {
  background-color: #fff;
  width: 100%;
  height: 100px;
}
#header .headerwarp {
  width: 100%;
  height: 100px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 10px #5d595a;
  box-shadow: 0 2px 10px #5d595a;
  position: static;
}
#header .container {
  background-color: #fff;
}
#header .container .menu {
  display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
  display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
  display: -ms-flexbox /* TWEENER - IE 10 */;
  display: -webkit-flex /* NEW - Chrome */;
  display: flex /* NEW, Spec - Opera 12.1, Firefox 20+ */;
  display: flex;
  align-items: center;
}
#header .container .menu nav {
  padding-left: 20px;
  font-weight: bolder;
  font-size: 14px;
}
#header .container .menu nav .firstMenu {
  float: left;
  position: relative;
}
#header .container .menu nav .firstMenu > a {
  display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
  display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
  display: block;
  padding: 0 18px;
  text-align: left;
  font-family: Arial-Black;
  height: 100px;
  line-height: 100px;
}
#header .container .menu nav .firstMenu > a i {
  -webkit-transition: all 0.2s;
  -khtml-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
  display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
  display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
  display: inline-block;
}
#header .container .menu nav .firstMenu > a i.active {
  -webkit-transform: rotate(180deg);
  -khtml-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  color: #f69;
}
#header .container .menu nav .dropDown {
  display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
  display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
  display: none;
  position: absolute;
  top: 100%;
  z-index: 100;
  margin-top: 1px;
  background: #fff;
  padding: 0 25px 20px 20px;
}
#header .container .menu nav .dropDown a {
  line-height: 30px;
  white-space: nowrap;
}
#header .container .menu nav .dropDown a:hover {
  color: #f69;
}
#header .container .language {
  float: right;
  position: relative;
}
#header .container .language .currentLan {
  line-height: 95px;
position
  display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
  display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
  display: -ms-flexbox /* TWEENER - IE 10 */;
  display: -webkit-flex /* NEW - Chrome */;
  display: flex /* NEW, Spec - Opera 12.1, Firefox 20+ */;
  display: flex;
  align-items: center;
}
#header .container .language .currentLan img {
  width: 100%;
  height: 100%;
}
#header .container .language .currentLan span {
  margin: 0 5px;
}
#header .container .language .currentLan i {
  font-size: 14px;
  display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
  display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
  display: inline-block;
  -webkit-transition: all 0.2s;
  -khtml-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
#header .container .language .currentLan i.active {
  -webkit-transform: rotate(180deg);
  -khtml-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
#header .container .language .dropDown {
  position: absolute;
  background-color: #fff;
  right: 0;
  display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
  display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
  display: none;
  z-index: 100;
}
#header .container .language .dropDown p {
  padding: 15px;
  white-space: nowrap;
  cursor: pointer;
  display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
  display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
  display: -ms-flexbox /* TWEENER - IE 10 */;
  display: -webkit-flex /* NEW - Chrome */;
  display: flex /* NEW, Spec - Opera 12.1, Firefox 20+ */;
  display: flex;
}
#header .container .language .dropDown p span {
  margin-left: 10px;
}
.container {
  margin: 0 auto;
  width: 1200px;
  height: 100%;
}
.containerBig {
  width: 1583px;
  margin: 0 auto;
}
.qualityBg {
  min-width: 1600px;
}
#footer {
  background-color: #fff;
/*.footMenu{
    padding 20px 0 56px 50px
    dl{
      float left
      font-size 16px
      line-height 34px
      dt{
        font-weight bolder
        a{
          color: #24CCCD
        }
      }
      dd{
        position relative
        &:before{
          position absolute
          transform rotate(-90deg)
          font-size 12px
          color #FF6699
          left -15px
        }
      }
    }
    dl+dl{
      margin-left 60px
    }
  }*/
}
#footer .footMenuWrap {
  background: #f4f3f3;
}
#footer .footMenuWrap p {
  line-height: 1.5;
}
#footer .footMenuWrap .container {
  padding: 30px 0;
  display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
  display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
  display: -ms-flexbox /* TWEENER - IE 10 */;
  display: -webkit-flex /* NEW - Chrome */;
  display: flex /* NEW, Spec - Opera 12.1, Firefox 20+ */;
  display: flex;
  -webkit-justify-content: space-between;
  -khtml-justify-content: space-between;
  -moz-justify-content: space-between;
  -o-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
#footer .footMenuWrap .foot_menu li {
  padding-right: 50px;
  padding-bottom: 21px;
}
#footer .footMenuWrap .foot_info {
  width: 440px;
  padding-right: 120px;
}
#footer .footMenuWrap .foot_info h4 {
  padding-bottom: 5px;
}
#footer .footMenuWrap .foot_info p {
  font-size: 14px;
}
#footer .footMenuWrap .share h4 {
  padding-bottom: 20px;
}
#footer .copyright {
  font-family: Arial;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  height: 100px;
  line-height: 100px;
  background: #fff;
  color: #737373;
}
.good_hot h3 {
  margin-bottom: 20px;
}
.good_hot img {
  width: 100%;
}
.good_hot div {
  position: relative;
}
.good_hot .good_hot_btn {
  position: absolute;
  width: 200px;
  height: 48px;
  text-align: center;
  background: #000;
  color: #fff;
  line-height: 48px;
  border: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -khtml-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
  font-size: 20px;
}
body {
  background-color: #e7e7e7;
}
.article_title {
  font-size: 36px;
}
.font-weight {
  font-weight: bold;
}
.site_menu {
  padding: 20px 0 20px 63px;
  border-bottom: 1px solid #d6d3d3;
}
.site_menu dl {
  margin-left: -23px;
}
.site_menu dt,
.site_menu dd {
  float: left;
  margin-right: 10px;
}
.site_menu dt {
  width: 13px;
  height: 13px;
  background-color: #f69;
  font-size: 36px;
  font-family: ArialUnicodeMS;
}
.site_menu .currentPage {
  color: #f69;
}
#mainbody {
  margin: 20px auto 65px;
}
#mainbody main {
  background: #fff;
  width: 850px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
#mainbody aside {
  float: right;
  width: 340px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#mainbody aside section {
  background-color: #fff;
  padding: 10px;
/*h3{
        margin-bottom 15px
      }*/
}
#mainbody aside section h1,
#mainbody aside section h2,
#mainbody aside section h3 {
  font-size: 18px;
  font-weight: bolder;
  padding-bottom: 15px;
}
#mainbody aside section.top_prolist {
  padding: 20px 10px 10px;
}
#mainbody aside section.top_prolist .aside_prolist li {
  margin-bottom: 13px;
}
#mainbody aside section.top_prolist .aside_prolist div {
  float: left;
  width: 74px;
}
#mainbody aside section.top_prolist .aside_prolist div img {
  width: 100%;
}
#mainbody aside section.top_prolist .aside_prolist p {
  float: right;
  width: 210px;
  line-height: 1.2;
  height: 58px;
  display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
  display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
#mainbody aside section+section {
  margin-top: 12px;
}
#mainbody aside .aside_lab {
  display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
  display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
  display: -ms-flexbox /* TWEENER - IE 10 */;
  display: -webkit-flex /* NEW - Chrome */;
  display: flex /* NEW, Spec - Opera 12.1, Firefox 20+ */;
  display: flex;
  -webkit-justify-content: flex-start;
  -khtml-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -o-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -khtml-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
#mainbody aside .aside_lab li {
  margin-bottom: 10px;
}
#mainbody aside .aside_lab li a {
  padding: 15px;
  font-size: 14px;
  color: #6cc;
  display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
  display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
  display: block;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #6cc;
  margin-right: 10px;
}
#mainbody aside .address_wrap {
  border: 1px solid #d6d3d3;
  margin-top: 10px;
  padding: 10px 20px;
}
#mainbody aside .address_wrap h5,
#mainbody aside .address_wrap p {
  text-align: center;
}
#mainbody aside .address_wrap h5 {
  font-size: 18px;
  margin-bottom: 10px;
}
#mainbody aside .address_wrap input,
#mainbody aside .address_wrap button {
  display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
  display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
  display: block;
  margin: 0 auto;
}
#mainbody aside .address_wrap input {
  width: 264px;
  height: 63px;
}
#mainbody aside .address_wrap button {
  font-size: 18px;
  width: 160px;
  height: 45px;
  background-color: #f0eaea;
  border: none;
  outline: none;
  margin: 20px auto 10px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#mainbody .pro_lab {
  position: relative;
  padding: 10px 39px 10px 95px;
  border-top: 1px solid #d6d3d3;
}
#mainbody .pro_lab a {
  padding: 5px 15px;
  white-space: nowrap;
  display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
  display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
  display: inline-block;
}
#mainbody .pro_lab::after {
  content: "";
  position: absolute;
  background: url("../../img/PC/icon.png");
  left: 54px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -khtml-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 31px;
  height: 25px;
  background-position: -24px 0px;
}
#mainbody .label_tab,
#mainbody .label_book {
  display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
  display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
  display: inline-block;
  padding: 10px 5px 10px 40px;
  font-size: 14px;
  position: relative;
}
#mainbody .label_tab::after,
#mainbody .label_book::after {
  content: "";
  position: absolute;
  background: url("../../img/PC/icon.png");
  left: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -khtml-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#mainbody .label_tab::after {
  width: 31px;
  height: 25px;
  background-position: -24px 0px;
}
#mainbody .label_book::after {
  width: 24px;
  height: 27px;
  background-position: 0px 0px;
}
#mainbody main .site_menu {
  padding-left: 54px;
}
#mainbody main .product_item {
  padding-right: 20px;
}
#mainbody main .blog_info {
  padding: 30px 39px 0 54px;
}
#mainbody main .blog_info .pro_imgHref {
  padding-top: 20px;
  display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
  display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
  display: -ms-flexbox /* TWEENER - IE 10 */;
  display: -webkit-flex /* NEW - Chrome */;
  display: flex /* NEW, Spec - Opera 12.1, Firefox 20+ */;
  display: flex;
  -webkit-justify-content: space-between;
  -khtml-justify-content: space-between;
  -moz-justify-content: space-between;
  -o-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
/*&>div{
          float left
        }*/
}
#mainbody main .blog_info .pro_imgHref .product_info {
/*          width 322px*/
  padding: 0 0 0 20px;
  font-size: 18px;
}
#mainbody main .blog_info .pro_imgHref .product_info p {
  line-height: 1.5;
}
#mainbody main .blog_info .pro_imgHref .product_info a {
  margin-top: 15px;
  display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
  display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
  display: block;
}
#mainbody main .blog_info .pro_article h2,
#mainbody main .blog_info .pro_article h3,
#mainbody main .blog_info .pro_article strong.h2,
#mainbody main .blog_info .pro_article strong.h3 {
  padding: 10px 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.2;
  display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
  display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
  display: block;
}
#mainbody main .blog_info .pro_article p {
  padding: 10px 0;
  font-size: 18px;
  line-height: 1.5;
}
#mainbody main .blog_info .pro_article a {
  color: #0782c1;
  text-decoration: underline;
}
#mainbody main .blog_info .pro_article img {
  max-width: 100%;
  display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
  display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
  display: block;
  margin: 0 auto;
}
#mainbody main .blog_buttonImg {
  padding: 0 20px;
}
#mainbody main article {
  padding-bottom: 15px;
}
.comments .userinfo {
  padding: 10px 0;
  font-size: 20px;
  position: relative;
}
.comments .userinfo i {
  width: 28px;
  height: 28px;
  background: url("../../img/PC/user.png");
  display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
  display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
  display: inline-block;
  position: absolute;
  -webkit-transform: translate(-100%, -50%);
  -khtml-transform: translate(-100%, -50%);
  -moz-transform: translate(-100%, -50%);
  -o-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
  top: 50%;
  margin-left: -5px;
}
.comments .star {
  color: #d6d3d3;
}
.comments .star .icon-wujiaoxing {
  font-size: 30px;
}
.commit_comments {
  padding: 0 39px 25px 54px;
  border-top: 1px solid #d6d3d3;
}
.commit_comments h2 {
  padding-top: 40px;
  font-size: 36px;
  font-weight: bold;
  color: #5d595a;
}
.commit_comments p {
  font-size: 20px;
  line-height: 1.5;
  padding-top: 5px;
  padding-bottom: 15px;
  color: #5d595a;
}
.commit_comments textarea {
  width: 100%;
  height: 168px;
  resize: none;
  background-color: #d6d3d3;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 15px;
  -webkit-box-shadow: inset 1px 1px 3px #777;
  box-shadow: inset 1px 1px 3px #777;
}
.commit_comments>div:not(.commit_star) label {
  font-size: 24px;
  padding: 10px 0 5px;
  display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
  display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
  display: block;
}
.commit_comments>div:not(.commit_star) input {
  width: 100%;
  height: 60px;
  background-color: #d6d3d3;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 0 15px;
  -webkit-box-shadow: inset 1px 1px 3px #777;
  box-shadow: inset 1px 1px 3px #777;
}
.user_comments {
  border-top: 1px solid #d6d3d3;
  padding: 0 39px 25px 54px;
}
.user_comments h4 {
  font-size: 18px;
  font-weight: bolder;
  padding-top: 10px;
  margin-left: -33px;
}
.user_comments dt,
.user_comments dd {
  float: left;
}
.user_comments dd {
  margin-left: 10px;
}
.user_comments .star {
  line-height: 46px;
}
.user_comments>div {
  margin-bottom: 10px;
}
.user_comments>div p {
  padding: 17px 15px;
  font-size: 18px;
  background-color: #d6d3d3;
  line-height: 1.5;
}
