@import 'base'

#mainbody{
  main{
    .site_menu{
      padding-left 54px
    }
  }
  article{
    .article_title{
      padding 20px 39px 0 54px
      line-height 1.2
      font-size 30px
      font-weight bold
      font-family "Roboto", Arial, "Helvetica Neue", Helvetica, Arial, sans-serif
    }
    .detail_img{
      padding 20px 39px 0 54px
      padding-top 10px
      img{
        width 100%
      }
    }
    .detail_info{
      padding 20px 39px 0 54px
      padding-bottom 25px
      border-bottom 1px solid $solid-gray
      h2,h3,strong.h2,strong.h3{
        font-size 30px
        font-weight bold
        padding 20px 0 12px
        display: block
      }

      p{
        line-height 1.6
        margin 10px 0
      }

      .pro_img{
        text-align center
        img{
          max-width  100%
        }
        p{
          text-align center
          padding-bottom 0
        }
      }
    }
  }
}

@import "comments"